<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.smart.water.meter.dao.DataMapper">

    <select id="selectLatestDataByName" parameterType="string" resultType="com.iot.smart.water.meter.model.Data">
        select * from iot.sensorData
        where sensorName = #{name}
        order by reading_time desc
        limit 1
    </select>

    <select id="selectLatestDataInMonthByName" resultType="com.iot.smart.water.meter.model.Data">
        select * from iot.sensorData
        where sensorName = #{name} and reading_time &gt;= #{startTime} and reading_time &lt;= #{endTime}
        order by reading_time desc
        limit 1
    </select>

    <select id="selectAllSensorData" resultType="com.iot.smart.water.meter.model.Data">
        select * from iot.sensorData
        order by reading_time desc
        limit 1
    </select>
</mapper>