<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.smart.water.meter.dao.MemberDao">

    <insert id="insertMember" parameterType="com.iot.smart.water.meter.model.Member" keyProperty="uid" useGeneratedKeys="true">
        insert into iot.member
        (name, password, contact, room, waterVolume, createDate)
        values
        (#{name}, #{password}, #{contact}, #{room}, #{waterVolume},
        date_format(#{createDate}, '%Y-%m-%d %H:%i:%s'))
    </insert>

    <update id="createTable">
        create table if not exists iot.member (
        `mid` int(11) NOT NULL AUTO_INCREMENT,
        `name` varchar(64) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
        `password` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
        `contact` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
        `room` varchar(10) NOT NULL,
        `waterVolume` int(11) DEFAULT 0,
        `createDate` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
        PRIMARY KEY (`uid`),
        UNIQUE KEY `uid` (`uid`) USING BTREE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </update>

</mapper>