<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.smart.water.meter.dao.UserDao">

    <insert id="insertUser" parameterType="com.iot.smart.water.meter.model.User" keyProperty="uid" useGeneratedKeys="true">
        insert into iot.user
            (userName, password, room, contact, createDate)
        values
            (#{userName}, #{password}, #{room}, #{contact}, date_format(#{createDate}, '%Y-%m-%d %H:%i:%s'))
    </insert>

    <update id="updateUser" parameterType="com.iot.smart.water.meter.model.User">
        update iot.user
        set
            userName = #{userName},
            password = #{password},
            room = #{room},
            contact = #{contact}
        where uid = #{uid}
    </update>

    <select id="selectUserByName" resultType="com.iot.smart.water.meter.model.User">
        select * from iot.user
        where userName = #{userName}
    </select>

    <select id="selectUserById" resultType="com.iot.smart.water.meter.model.User">
        select * from iot.user
        where uid = #{uid}
    </select>

    <update id="createTable">
        create table if not exists iot.user (
        `uid` int(11) NOT NULL AUTO_INCREMENT,
        `userName` varchar(64) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
        `password` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
        `room` varchar(10) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
        `contact` varchar(20) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL,
        `createDate` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
        PRIMARY KEY (`uid`),
        UNIQUE KEY `uid` (`uid`) USING BTREE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
    </update>

</mapper>